/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



body {
    width: 100%;
    margin: 0;
    display: block;
}

.header {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
}

.header-logo {
  width: 130px;
}

.header-text {
  font-size: 15px;
  color: black;
  padding-top: 25px;
  font-weight: bold;
}

.header-right {
  background-color: #da6b64;
  border-radius: 30px;
}


.header-right a {
  padding: 15px 40px 15px 40px;
  display: block;
  color: white;
  text-decoration: none;
}

.header-right a:hover {
  background-color: #d84940;
  border-radius: 30px;
}

.top-content {
  background: url(img/main.jpg)no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  
}

.top-content img {
  width: 300px;
  padding: 10px 0 50px 0;
}

.top-text {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
}

.top-text2 {
  font-size: 20px;
  font-weight: 550;
}

.contact-wrap {
      background-color: #ebb94d;
      text-align: center;
      padding: 30px 15% 50px 15%;
}

.contact-text {
  font-size: 20px;
  font-weight: 550;
  line-height: 30px;
  color: white;
}

.contact-text2 {
      color: #c7254e;
    background-color: #f9f2f4;
    display: inline-block;
    border-radius: 4px;
    font-size: 18px;
  font-weight: 550;
  padding: 3px 3px;
  margin: 20px 0 40px 0;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.contact-text3 {
  font-size: 20px;
  font-weight: 550;
  line-height: 60px;
  color: white;
  padding-top: 50px;
}

.contact {
  background-color: #da6b64;
  border-radius: 50px;
  padding: 30px 40px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}

.contact:hover {
  background-color: #d84940;
  border-radius: 50px;
}

.twitter {
  display: flex;
  margin: 0 auto;
  width: 20%;
}

.tweet {
  background-color: #1b95e0;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 12px;
}

.tweet:hover {
  background-color: #126091;
  transition: 0.8s;
}

.iine {
   background-color: #1b95e0;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 12px;
}

.shere {
    background-color: #1b95e0;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 12px;
}

.engineer {
  padding: 40px 0 180px 0;
  text-align: center;
  background: url(img/introbottom.jpg)no-repeat;
  background-size: cover;
  background-position: center;

}

.engineer-title {
  padding: 20px 0;
  font-size: 30px;
}


.yellow {
      margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.yellow::before {
      top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yellow::after {
      bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.white {
      margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.white::before {
      top: 0;
    left: 0;
    border-top: 4px solid white;
    border-left: 4px solid white;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.white::after {
      bottom: 0;
    right: 0;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.engineer-text {
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 100;
}

.engineer-text span {
  font-weight: 600;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about {
  position: relative;
  background-color: #fef5e0;
  text-align: center;
  padding: 40px 0 60px 0;
}

.about-title {
  font-size: 30px;
  padding: 20px 0;
  line-height: 40px;
}

.about-text {
  font-size: 20px;
  font-weight: 550;
  padding: 40px 0;
}

.about-ball {
  height: 80px;
  width: 80px;
  background-color: #ebb94d;
  color: white;
  border-radius: 50px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.about-skill {
  width: 80%;
  background-color: white;
  border: 2px solid #ebb94d;
  margin: 0 auto;
}

.skill {
  font-size: 20px;
  font-weight: 550;
  padding: 30px 0;
}

.icon {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 30px;
}

.icon p {
  font-weight: 100;
  font-size: 12px;
  margin: 10px 0;
}

.step {
  text-align: center;
  background: url(img/aboutsecondbg.jpg)no-repeat;
  background-size: cover;
}

.step-title {
  font-size: 30px;
  color: white;
  padding: 70px 0 30px 0;
}

.step-text {
  font-size: 20px;
  font-weight: 550;
  color: white;
  line-height: 40px;
}

.step-text span {
  color: #ebb94d;
}

.step-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.step-box {
  background-color: white;
  width: 30%;
  border-radius: 5px;
  margin: 40px 0;
}

.step1 {
  background-color: #ebb94d;
  color: white;
  width: 80%;
  margin: 30px auto;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px 0;
}

.step2 {
  padding: 0 0 20px 0;
  font-weight: bold;
}

.step3 {
  padding: 0 0 30px 0;
  font-weight: bold;
}

.blue {
  background-color: #016ea9;
}

.blue p {
  font-size: 20px; 
  font-weight: 550;
  color: white;
  padding: 40px 0;
  line-height: 40px;
  letter-spacing: 3px;
}

.blue p span {
  color: #ebb94d;
}

.learn {
  text-align: center;
}

.learn-title {
  font-size: 30px;
  font-weight: bold;
  padding: 50px 0 50px 0;
}

.learn-title span {
  font-size: 15px;
  font-weight: bold;
}

.learn-text {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
}

.learn-img {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 0;
}
.learn-img img {
  width: 20%;
}

.learn-text2 {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 60px;
}

.merit {
  text-align: center;
  background-color: #fef5e0;
  padding: 40px 0 60px 0;
}

.merit-title {
   font-size:20px;
  padding: 20px 0;
  line-height: 40px;
}
.merit-title span {
  font-size: 30px;
}

.merit-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.merit-box {
  width: 30%;
  text-align: left;
}

.merit-img1 {
  width: 100%;
  height: 180px;
  background: url(img/learnfromfreelancer.jpg)no-repeat;
  background-size: cover;
}

.merit-img2 {
   width: 100%;
  height: 180px;
  background: url(img/learnfromprojects.jpg)no-repeat;
  background-size: cover;
}

.merit-img3 {
   width: 100%;
  height: 180px;
  background: url(img/actuallyfree.jpg)no-repeat;
  background-size: cover;
}

.merit-box h2 {
  color: #ebb94d;
  font-size: 20px;
  font-weight: 500;
}

.merit-box p {
  font-weight: 100;
  letter-spacing: 2px;
  padding-top: 20px;
}

.support {
  width: 80%;
  background-color: white;
  border: 2px solid #ebb94d;
  margin: 40px auto;
  border-radius: 5px;
}

.support-title {
  font-size: 28px;
  color: #ebb94d;
  font-weight: 550;
  letter-spacing: 2px;
  padding: 40px 0 20px 0;
}

.support-text {
  font-size: 20px;
  font-weight: 550;
}

.support-text2 {
  font-weight: bold;
  padding: 20px 0 40px 0;
  line-height: 25px;
  letter-spacing: 2px;
}

.merit-bottom {
  width: 70%;
  margin: 0 auto;
  font-size: 15px;
}

.member {
  background: url(img/teacherbg.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.member-title {
  font-size: 30px;
  font-weight: 550;
  padding: 70px 0 40px 0;
  color: white;
}

.member-text {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.member-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.member-box {
  width: 31%;
}

.member-wrap {
  border: 3px solid white;
  padding: 40px 30px;
  color: white;
  margin-bottom: 40px;
}

.members {
  border-radius: 50%;
  position: relative;
  bottom: -35px;
}

.members-text {
  line-height: 30px;
}

.name {
  padding: 20px 0;
}

.q-a {
  background-color: #ebb94d;
  color: white;
  text-align: center;
  padding: 40px 0;
  position: relative;
}

.q-aball {
  background-color: white;
  border-radius: 50%;
  color: #ebb94d;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  line-height: 80px;
}

.q-a-title {
  font-size: 30px;
  font-weight: 550;
}

.q-a::after {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}

.voice {
  text-align: center;
  padding: 50px 0;
}

.voice-title {
  font-size: 30px;
  font-weight: 550;
}

.voice-text {
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 2px;
  padding: 20px 0 30px 0;
}

.message {
  font-weight: 100;
  font-size: 14px;
}

.voice-wrap {
  width: 55%;
  margin: 0 auto;
}

.voice-box {
  display: flex;
  padding-top: 40px;
}

.voice-img {
  width: 30%;
  border: 3px solid #ebb94d;
}

.voice-text2 {
  padding: 30px 0 20px 30px;
  font-size: 19px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
}

.voice-content {
  text-align: left;
  color: rgb(126, 124, 124);
}

.voice-name {
  padding-left: 30px;
  font-style: italic;
  text-decoration: underline;
}

.learn2 {
  background: url(img/classbg.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.learn2-title {
  color: white;
  font-size: 30px;
  padding: 50px 0 20px 0;
}

.learn2-text {
  color: white;
  font-size: 20px;
  padding-bottom: 40px;
}

.learn2-content {
  width: 55%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.learn-nav {
  background-color: rgb(48, 114, 190);
  padding: 20px 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.learn2-box {
  background-color: white;
  width: 48%;
  border: 2px solid rgb(48, 114, 190);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 80px;
}



.learn-list li {
  list-style: none;
  font-size: 17px;
  border-bottom: 1px dotted lightgray;
  padding: 15px 0;
  font-weight: bold;
}

.price {
  background-color: rgb(48, 114, 190);
  font-size: 20px;
  color: white;
  padding: 50px 0;
  line-height: 30px;
}

.lesson {
  text-align: center;
  padding-bottom: 50px;
}

.lesson-title {
  font-size: 30px;
  padding: 60px 0;
}

.lesson-title i {
  font-size: 25px;
}

.lesson-img {
  padding-bottom: 50px;
}

.lesson-wrap {
  width: 80%;
  margin: 0 auto;
}

.lesson-box {
  background-color: #fef5e0;
  padding: 10px 30px;
  display: flex;
}



.lesson-right,
.lesson-right2,
.lesson-right3,
.lesson-right4,
.lesson-right5 {
  text-align: left;
  padding: 10px 0 0 50px;
  width: 100%;
}

.lesson-right h4 {
  margin: 20px 0;
}

.lesson-right p {
  line-height: 20px;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 20px 0;
}

.lesson-right2 p {
  margin: 20px 0;
   line-height: 20px;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
}

.lesson-right3 h4 {
   margin: 20px 0;
}

.lesson-right4 h4 {
  margin: 20px 0;
}

.lesson-right4 p {
   font-weight: 100;
  font-size: 14px;
  margin: 20px 0;
}

.lesson-right5 h4 {
  margin: 20px 0;
}


.lesson-content {
 display: block;
 padding: 20px;
}

.lesson-left-img {
  
}

.lesson-content h2 {
  padding-top: 10px;
  letter-spacing: 2px;
  line-height: 25px;
}

.bangkok {
  background: url(img/bangkokbg.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.bangkok-title {
  padding: 100px 0 30px 100px;
  font-size: 25px;
}
.bangkok-text {
  padding: 0 0 30px 100px;
  font-size: 14px;
}

.bangkok-list {
  padding-left: 100px;
  font-size: 15px;
  font-weight: bold;
  list-style: none;
}

.bangkok-list li {
  padding-bottom: 20px;
}

.bangkok-title2 {
  padding: 10px 0 100px 100px;
  font-size: 20px;
}

.zero {
  background-color: #ebb94d;
  text-align: center;
  padding: 0 12.5%;
}

.zero-title {
  font-size: 30px;
  padding: 80px 0 50px 0;
  letter-spacing: 2px;
}

.zero-text {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.zero-text span {
  color: #000;
}

.zero-box {
  border: 2px solid white;
  display: flex;
  margin-top:  40px;
  padding: 40px;
  
  justify-content: space-around;
}

.sp {
  font-size: 30px;
  position: relative;
  bottom: -58px;
  overflow: hidden;
}

.sp-ball {
  background-color: white;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: table;
}

.sp-content  {
 margin: 0 auto;
 padding: 40px  10px;
 display: table-cell;
 vertical-align: middle;
}

.sp-title {
  color: #ebb94d;
  font-size: 25px;
  font-weight: normal;
 
}

.sp-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
  padding-top: 20px;
}

*{
   outline: re 1px solid !important;
}


